main {
    display: flex;
    margin: 5em clamp(10px, 15vw, 500px);
    gap: 1.5em;
    flex-wrap: wrap;
}

.card-wrapper,
.shop {
    padding: 1.5em;
    width: 100%;
    align-content: start;
}



.card-image {
    float: left;
    grid-area: image;
    padding: 0 1.5em 1.5em 0;
    width: clamp(100px, 20vw, 300px);
    object-fit: contain;
    justify-self: center;
}

.medium {
    width: 250px;
}

.large {
    width: 300px;
}

.card-blue {
    background: var(--accent-secondary-decoration);
}

.card-orange {
    background: var(--accent-primary-decoration);
}

.card-green {
    background: var(--accent-tertiary-decoration);
}

#visiting-proff,
#night-museum,
#energetica,
#cosmology,
#evolution,
#biology-medicin,
#robotics-ai,
#ecology,
#top {
    scroll-margin-top: 100px;
}