/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: var(--background-color);
}

footer a, main a {
    text-decoration: underline;
    color: var(--accent-cta);
}

