/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-large) 0;
    justify-content: center;
}
