.card-wrapper-large {
    display: grid;
    grid-template-areas:
        "image h1"
        "image p1"
        "image p2";
    gap: var(--padding-medium);
    width: 60vw;
    background: var(--accent-tertiary-decoration);
    padding: var(--padding-medium);
}

.card-image-large {
    grid-area: image;
    width: 300px;
    object-fit: contain;
}

.welcome-title {
    grid-area: h1;
}

.welcome-p1 {
    grid-area: p1;
}

.welcome-p2 {
    grid-area: p2;
}

.card-wrapper-medium {
    width: 50%;
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .card-wrapper-large {
        grid-template-areas:
            "image h1"
            "image p1"
            "p2 p2";
    }
}


@media (max-width: 1400px) {
    .card-wrapper-large {
        width: 90vw;
    }
}


@media (max-width: 800px) {
    .card-wrapper-large {
        grid-template-areas:
            "h1"
            "image"
            "p1"
            "p2";
        justify-items: center;
    }
}