header {
    display: flex;
    justify-content: space-between;

    background-image: url(../images/header-images/frontpage.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 12em;
    padding: var(--padding-small);
    position: relative;
}

.logoImageWrapper {
    z-index: 20;
    display: flex;
    justify-content: center;
    height: 8em;
    width: 8em;

    -webkit-mask-image: url('../images/clip-path/squircle.svg');
    mask-image: url('../images/clip-path/squircle.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;


    background: var(--accent-secondary-decoration-transperent);
    padding: var(--padding-medium);
    position: relative;
}


.header-info {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1em 3em 2em 3em;
    gap: 3em;
    align-items: right;
    text-align: right;
    justify-content: flex-end;

    -webkit-mask-image: url('../images/clip-path/squircle-resized.svg');
    mask-image: url('../images/clip-path/squircle-resized.svg');
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: right top;

    position: absolute;
    top: 0;
    right: 0;

    background: var(--accent-secondary-decoration-transperent);
}

.logoImageWrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


select {
    border: none;
    text-decoration: none;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.about-us-url {
    padding-bottom: 30px;
    /* Ensuring the touch-area is more than 44x44 px*/
}


nav {
    background: var(--accent-primary-decoration);
    display: flex;
    justify-content: space-evenly;
}

nav>a {
    display: flex;
    height: 60px;
    min-width: 60px;
    align-items: center;
    background: var(--accent-secondary-decoration);
    padding: 0 1em;
    margin: .75em 0;
}

@media (max-width: 1400px) {
    .header-info {
        padding: 1em 2em 1em 1em;
    }

    .image-header-logo {
        width: 70%;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column-reverse;
        padding: 0 0 1em 0;
    }

    .header-info {
        position: relative;
        -webkit-mask-image: none;
        mask-image: none;
        text-align: center;
        justify-content: center;
    }

    .image-header-logo {
        width: 50%;
    }

    .logoImageWrapper {
        margin-top: 1em;
    }

    a,
    #open-information,
    .select-wrapper {
        padding-bottom: 10px;
        padding-top: 20px;
    }
}

@media (max-width: 460px) {
    .header-info {
        gap: 1em;
    }
}

@media (max-width: 500px) {
    #open-information {
        display: none;
    }

    .toplevel-menu {
        content: none;
        height: 4em;
    }

    .toplevel-menu>a {
        display: none;
    }
}