.main {
    grid-area: main;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

main {
    display: grid;
    margin: 5em clamp(10px, 20vw, 500px);
    grid-template-areas:
        "main main"
        "second third"
        "fourth fourth";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5em;
}

.card-wrapper,
.shop {
    padding: 1.5em;
    width: 100%;
    align-content: start;
}



.card-image {
    float: left;
    grid-area: image;
    padding: 1.5em;
    width: clamp(100px, 20vw, 300px);
    object-fit: contain;
    justify-self: center;
}

.medium {
    width: 250px;
}

.large {
    width: 300px;
}

.card-blue {
    background: var(--accent-secondary-decoration);
}

.card-orange {
    background: var(--accent-primary-decoration);
}

.card-green {
    background: var(--accent-tertiary-decoration);
}

.bottom-force {
    display: block;
    clear: both;
    width: 100%;
    margin-top: 1.5em;
}

.title {
    grid-area: h1;
    padding-top: 1.5em;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.shop>img {
    width: 85%;
    object-fit: contain;
    justify-self: center;
}

.two-columns {
    padding-top: 1.5em;
    grid-column: span 2;
}

@media (max-width: 1400px) {
    .shop {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    main {
        grid-template-areas:
            "main"
            "second"
            "third"
            "fourth";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 1.5em;
    }
}

@media (max-width: 1000px) {
    .card-wrapper {
        display: grid;
        grid-template-areas:
            "h1"
            "image"
            "p1"
            "p2";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .medium {
        width: 300px;
    }

    .shop {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .card-image {
        width: 200px;
    }

    .shop {
        grid-template-columns: 1fr;
    }
}